.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 2rem;
  background-color: #98a1db;
}

h1 {
  color: #2b14ab;
}

h2 {
  color: #107db4;
}

div {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5%;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

button:hover {
  background-color: #199385;
}
